/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: #F44336;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  margin: 20px;
  max-width: 600px;
  padding: 10px;
}

.welcome {
  align-items: center;
  background-color: #E91E63;
  display: flex;
  height: 50px;
  justify-content: center;
}

p {
  padding: 10px;
  text-align: center;
}

.img-container {
  background-color: black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

a {
  color: #000;
}

footer {
  align-items: center;
  background-color: #F44336;
  box-sizing: border-box;
  display: flex;
  height: 7vh;
  justify-content: center;
  min-height: 50px;
  padding: 10px;
  width: 100%;
}
